127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

10.0.0.11 chefserver01.{{publicdomain}}            chefserver01
10.0.0.12 chefautomate01.{{publicdomain}}          chefautomate01
10.0.0.20 chefcompliance01.{{publicdomain}}        chefcompliance01
10.0.0.23 splunk01.{{publicdomain}}                splunk01
10.0.0.13 buildnode01.{{publicdomain}}             buildnode01
10.0.0.14 buildnode02.{{publicdomain}}             buildnode02
10.0.0.18 buildnode03.{{publicdomain}}             buildnode03
10.0.0.15 acceptance01.{{publicdomain}}            acceptance01
10.0.0.25 union01.{{publicdomain}}                 union01
10.0.0.16 rehearsal01.{{publicdomain}}             rehearsal01
10.0.0.17 delivered01.{{publicdomain}}             delivered01
10.0.0.24 workstation01.{{publicdomain}}           workstation01
